<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore</title>
</head>
<body>
<h1>Books</h1>
<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Year</th>
        <th>ISBN</th>
        <th>Price</th>

    </tr>
    <th:block th:each="book : ${ books }">
        <tr>
            <td th:text="${ book.title }">Title</td>
            <td th:text="${ book.author }">Author</td>
            <td th:text="${ book.releaseYear }">Year</td>
            <td th:text="${ book.isbn }">ISBN</td>
            <td th:text="${ book.price }">Price</td>
        </tr>
    </th:block>
</table>
</body>
</html>