<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<head>
    <meta charset="UTF-8">
    <title>Bookstore</title>
</head>
<body>
<h1>Books</h1>
<table class="table table-striped">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Year</th>
        <th>ISBN</th>
        <th>Price</th>
        <th>Category</th>
    </tr>
    <th:block th:each="book : ${ books }">
        <tr>
            <td th:text="${ book.title }">Title</td>
            <td th:text="${ book.author }">Author</td>
            <td th:text="${ book.releaseYear }">Year</td>
            <td th:text="${ book.isbn }">ISBN</td>
            <td th:text="${ book.price }">Price</td>
            <td th:text="${ book.category } ? ${book.category.name} : ' '">Category</td>
            <td> <a th:href="@{/editbook/{id}(id=${book.bookId})}" class="btn btn-secondary"> Edit </a> </td>
            <td> <a th:href="@{/deletebook/{id}(id=${book.bookId})}" class="btn btn-danger"> Delete </a> </td>
        </tr>
    </th:block>
</table>
<a href="/addbook" class="btn btn-success">Add</a>
</body>
</html>