<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
</head>
<body>
<h2>Edit a book</h2>
<form th:object="${ book }" th:action="@{../savebook}" action="#" method="post">
    <!-- id is required so we don't save a new book -->
    <label for="id"></label>
    <input type="hidden" id="id" th:field="${book.bookId}"/>
    <label for="title">Title:</label>
    <input type="text" id="title" th:value="${book.title}" th:field="${book.title}" />
    <br />
    <label for="author">Author:</label>
    <input type="text" id="author" th:value="${book.author}" th:field="${book.author}" />
    <br />
    <label for="year">Year:</label>
    <input type="number" id="year" th:value="${book.releaseYear}" th:field="${book.releaseYear}" />
    <br />
    <label for="isbn">ISBN:</label>
    <input type="text" id="isbn" th:value="${book.isbn}" th:field="${book.isbn}" />
    <br />
    <label for="price">Price:</label>
    <input type="number" id="price" step=".01" th:value="${book.price}" th:field="${book.price}" />
    <br />
    <input type="submit" value="Save" />
</form>
</body>
</html>